<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div *ngIf="data; else elseblock">
  <p>If block</p>
</div>

<ng-template #elseblock>
  <p>else block</p>
</ng-template>

<ng-container *ngIf="isLoggedin; then login; else logout"> </ng-container>

<ng-template #login>
  <p>Welcome my friend</p>
</ng-template>

<ng-template #logout>
  <p>please login my friend</p>
</ng-template>

<div [hidden]="!data">example of [hide]</div>

<ng-template [ngIf]="data">
  <div>
    <p>ngif using square brackets</p>
  </div>
</ng-template>
